@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.placeholder {
  animation-duration: 1s;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.04) 0%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 800px 104px;
  position: relative;
}
